body {
  margin: 0;
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.List {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.List h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 20px;
  font-weight: bold;
  color: red;
  align-self: center;
  text-align: center;
  flex: 1;
}

form.new-music-form {
  border: solid black 1px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

form.new-music-form > input,
form.new-music-form > textarea {
  font-size: 1em;
  font-family: sans-serif;
  margin-bottom: 0.5em;
}